<div id="loaderDiv" spinner class="hidden">
    <img src="images/spinner.gif" class="ajax-loader"/>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-10 col-md-11 title">Тести предмету: {{::tests.currentSubject}}</div>
            <div class="col-xs-2 col-md-1">
                <button class="btn btn-success"  ng-click="tests.showForm()" title="Додати тест">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
        </div>
        <div ng-include="'app/admin/subjects/tests/save-test.html'"></div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed">
            <tbody>
            <thead>
            <tr>
                <th class="clip header" ng-repeat="headElement in tests.headElements">{{::headElement}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class-odd="'odd'" ng-repeat="test in tests.list | orderBy:'test_name'">
                <td class="clip">{{::test.test_name}}</td>
                <td class="clip">{{::test.tasks}}</a></td>
                <td class="clip">{{::test.time_for_test}} хв</td>
                <td class="clip">{{::tests.status[test.enabled].enabled}}</td>
                <td class="pull-right">
                    <button class="btn btn-info"  ui-sref="admin.questions({subject_id: test.subject_id, test_id: test.test_id})"
                            title="Переглянути завдання">
                        <i class="glyphicon glyphicon-list-alt"></i> Завдання
                    </button>
                    <button class="btn btn-info" ui-sref="admin.testDetails({subject_id: test.subject_id, test_id: test.test_id})"
                            title="Деталі тесту">
                        <i class="glyphicon glyphicon-wrench"></i> Деталі
                    </button>
                    <button class="btn btn-warning" ng-click="tests.showForm(test)"
                            title="Редагувати {{test.test_name}}">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                    <button class="btn btn-danger"  ng-click="tests.removeTest(test)"
                            title="Видалити {{test.test_name}}">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <uib-pagination ng-show="tests.showPagination"
                        total-items="tests.totalItems"
                        ng-change="tests.getItemsPerPage()"
                        ng-model="tests.currentPage"
                        max-size="tests.maxSize"
                        class="my-pagination"
                        boundary-link-numbers="true"
                        items-per-page="tests.entitiesPerPage"
                        previous-text="&#xf048;"
                        last-text="&#xf050;">
        </uib-pagination>
    </div>
</div>
